@use '../abstracts';

html.dark {
  --text-color: #FFF;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(103deg) brightness(108%) contrast(101%);

  --body-bg: #292E39;
  --header-bg-color: #171C28;
  --top-act-group-bg-color: #292E39;
  --top-act-group-shadow: rgba(0, 0, 0, 0.20);
  --top-act-group-separate: #EDEDF6;

  @include abstracts.screen(lg) {
    --header-shadow-color: rgba(0, 0, 0, 0.20);
  }

  // Dropdown
  --dropdown-bg-color: #2F3441;
  --dropdown-shadow-color: rgba(23, 28, 40, 0.40);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(17%) sepia(7%) saturate(1920%) hue-rotate(186deg) brightness(90%) contrast(87%);
  --top-menu-border-color: #171C28;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(92%) sepia(10%) saturate(790%) hue-rotate(194deg) brightness(108%) contrast(98%);

  // Sidebar
  --sidebar-bg: #292E39;
  --sidebar-shadow: rgba(23, 28, 40, 0.40);
}