@use '../abstracts';

html {
  --text-color: #1A162E;
  --icon-color: brightness(0) saturate(100%) invert(3%) sepia(37%) saturate(6389%) hue-rotate(246deg) brightness(112%) contrast(87%);

  --body-bg: #F6F6F6;
  --header-bg-color: #EEE;
  --footer-bg-color: var(--header-bg-color);

  --top-act-group-bg-color: #FFF;
  --top-act-group-shadow: rgba(237, 237, 246, 0.20);
  --top-act-group-separate: #EDEDF6;

  @include abstracts.screen(lg) {
    --header-bg-color: #FFF;
    --header-shadow-color: rgba(237, 237, 246, 0.20);
  }

  // Header
  --header-act-dropdown-bg: #FFF;
  --header-act-dropdown-shadow: rgba(200, 200, 200, 0.40);
  --header-act-dropdown-border-color: #D2D1D6;

  // Dropdown
  --dropdown-bg-color: #FFF;
  --dropdown-shadow-color: rgba(200, 200, 200, 0.40);
  --top-menu-border-color: #D2D1D6;

  // Sidebar
  --sidebar-bg: #FFF;
  --sidebar-shadow: rgba(200, 200, 200, 0.40);

  // Category item
  --cate-item-bg: #EEE;
  --cate-item-thumb-bg: #FFF;
  --cate-item-title-color: #000;

  @include abstracts.screen(md) {
    --cate-item-bg: #FFF;
  }

  // Buttons
  --filter-btn-color: #6C6C72;
  --filter-btn-bg: #FFF;

  // Product card
  --product-card-bg: #FFF;
  --product-card-shadow: rgba(237, 237, 246, 0.20);

  // Filter form
  --filter-form-bg: #FFF;
  --filter-form-shadow: rgba(200, 200, 200, 0.40);
  --form-tag-bg: #F8F8FB;

  // Auth
  --auth-content-bg: #FFF;

  @include abstracts.screen(md) {
    --auth-intro-bg: #FFF;
  }

  // Form
  --form-placeholder-color: #D2D1D6;

  // Product detail
  --product-detail-bg: #FFF;
  --product-detail-info-bg: #F6F6F6;
  --product-detail-info-content-bg: #FFF;
  --product-detail-tag-bg: #EDEDF6;

  @include abstracts.screen(md) {
    --product-detail-bg: #FAFAFD;
    --product-detail-info-bg: #FFF;
  }

  // Breadcrumbs
  --breadcrumbs-bg: #F6F6F6;
  --breadcrumbs-shadow: rgba(237, 237, 246, 0.20);

  @include abstracts.screen(md) {
    --breadcrumbs-bg: #FFF;
  }

  // Search bar
  --search-bar-bg: #FFF;

  // Review card
  --review-card-bg: #FAFAFD;

  @include abstracts.screen(md) {
    --review-card-bg: #FFF;
  }

  // Text content
  --text-content-hr-bg: #EBEBEB;

  // Checkout
  --checkout-breadcrumbs-bg: #FFF;
  --checkout-cart-info-bg: #FFF;
  --checkout-cart-info-shadow: rgba(237, 237, 246, 0.20);
  --checkout-border-color: #D2D1D6;
  --checkout-gift-shadow: rgba(237, 237, 246, 0.20);

  // Dialog
  --dialog-bg: #FFF;
  --dialog-shadow:rgba(237, 237, 246, 0.20);
}