@use '../abstracts';

html {
  --text-color: #1A162E;
  --icon-color: brightness(0) saturate(100%) invert(3%) sepia(37%) saturate(6389%) hue-rotate(246deg) brightness(112%) contrast(87%);

  --body-bg: #F6F6F6;
  --header-bg-color: #EEE;
  --top-act-group-bg-color: #FFF;
  --top-act-group-shadow: rgba(237, 237, 246, 0.20);
  --top-act-group-separate: #EDEDF6;

  @include abstracts.screen(lg) {
    --header-bg-color: #FFF;
    --header-shadow-color: rgba(237, 237, 246, 0.20);
  }

  // Dropdown
  --dropdown-bg-color: #FFF;
  --dropdown-shadow-color: rgba(200, 200, 200, 0.40);
  --top-menu-border-color: #D2D1D6;

  // Sidebar
  --sidebar-bg: #FFF;
  --sidebar-shadow: rgba(200, 200, 200, 0.40);
}